################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DevNoteExtension/v16/Server/sqlite3/db.lock
/.vs/DevNoteExtension/v16
