<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Essential.Diagnostics.ColoredConsoleTraceListener" version="2.0.206" targetFramework="net47" />
  <package id="Essential.Diagnostics.Core" version="2.2.0" targetFramework="net472" />
  <package id="Essential.Diagnostics.RollingFileTraceListener" version="2.0.206" targetFramework="net47" />
  <package id="HtmlAgilityPack" version="1.11.16" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
</packages>