<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <!--Main Folders-->

    <!--<add key="CommonOutputFolder" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\DevNote.Web.Recorder\bin\Debug\CodeCeptJS\output\" />-->

    <add key="MyMainFolder" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\DevNote.Main\bin\Debug2" />


    <add key="CommonExeFolder" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\DevNote.Main\bin\Debug\Bat\Exe" />
    <add key="ScriptToolBox" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\DevNote.Web.Recorder\bin\Debug\Katalon" />


    <add key="AzureServiceBusReceiver" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\Azure\EFCoreTransactionsReceiver\bin\Debug\netcoreapp2.1\netcoreapp2.1\publish\EFCoreTransactionsReceiver.exe" />
    <!--D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\Azure\EFCoreTransactions\bin\OVERRIDE\netcoreapp2.1\publish\-->
    <add key="AzureServiceBusSender" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\Azure\EFCoreTransactions\bin\Debug\netcoreapp2.1\publish\EFCoreTransactionsSender.exe" />



    <!-- I run and async run config-->
    <add key="CodeceptConfigurationTemplate" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\DevNote.Web.Recorder\bin\Debug\CodeCeptJS\Project1\codecept.conf.template.txt" />
    <add key="CodeceptConfigurationFile" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\DevNote.Web.Recorder\bin\Debug\CodeCeptJS\Project1\codecept.conf.js" />

    <!--template for saving to scenario-->
    <add key="CodeceptTestTemplate" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\DevNote.Web.Recorder\bin\Debug\CodeCeptJS\Project2\template_test.txt" />

    <!--I run we do not use this anymoer only project2 can test run-->
    <add key="CodeceptTestRunFile1" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\DevNote.Web.Recorder\bin\Debug\CodeCeptJS\Project1\template_test.js" />

    <!--asynch run-->
    <add key="CodeceptTestRunFile2" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\DevNote.Web.Recorder\bin\Debug\CodeCeptJS\Project2\template_test.js" />
    <add key="IsCefSharp" value="True" />

    <add key="IsHeadless" value="false" />
    <add key="CodeceptTestRunFile3" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\DevNote.Web.Recorder\bin\Debug\CodeCeptJS\Project3\template_test.js" />

    <add key="ChromeRemoteDebuggerFile_Window" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\DevNote.Web.Recorder\bin\Debug\Chrome\Windows\Config\puppetConnection.txt" />
    <add key="ChromeRemoteDebuggerFile_Headless" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\DevNote.Web.Recorder\bin\Debug\Chrome\Headless\Config\puppetConnection.txt" />



    <!-- ================ Designer ======================== -->


    <add key="DevNoteDesingnerExe" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\DevNote.Main\bin\Debug2\_EXE\BaiCrawler.exe" />
    <add key="DevNoteDesignerLibrary" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote3\DevNoteDesignerLibrary" />


    <!-- ================ RECORDINGS ======================== -->

    <add key="DevNotePlayerExe" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\DevNote.Main\bin\Debug2\_EXE\Player\DevNote.Web.Recorder.exe" />

    <add key="Project2EndPointFolder" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\DevNote.Main\bin\Debug2\_EXE\Player\CodeCeptJS\Project2\output\endpoint" />

    <!--<add key="ChromeExe" value="F:\Dump\chrome-win\chrome.exe" />-->
    <add key="ChromeExe" value="D:\_ChromeExtension\chrome-win\chrome.exe" />


    <!--<add key="ChromeExe" value="" />-->

    <!--file to play every time katalon records latest_ticks.xml.         
        this is used by our Katalon extension to save last play file
        Commented out to use server default folder main
        if supplied it override the default.
        set this as your default download of chrome.exe
        -->
    <!--<add key="DefaultPlayXMLFile" value="D:\_MY_PROJECTS\_DEVNOTE\_DevNote4\DevNote.Main\bin\Debug2\_EXE\Player\CodeCeptJS\Project2\record.xml" />-->

    <add key="Click_Default_Wait" value="2" />

    <add key="ScreenshotOnFail" value="D:\output\template.failed.png" />


    <add key="TestKey" value="Testing my config 1234!" />

    <!-- ==========================DEFAULTS event entry =================== -->

    <add key="Default_Domain" value="QuickReach" />

    <add key="Default_Dept" value="General" />

    <add key="Default_EvantTag" value="GetContactInfo" />


    <!-- ==========================FOLDER END POINTS =================== -->

    <add key="LogFile" value="C:\Temp\Logs\DevNote.Main-2019-10-26.log" />

    <add key="MaxTimeOutMinutes" value="2" />




  </appSettings>


</configuration>
