/* Custom CSS */

.center-items-horizontally {
    display: flex;
    justify-content: center;
}

.overflow-auto {
    overflow: auto;
}

.command-value-control-row {
    align-items: center;
    display: flex;
    margin: 0px 10px;
}

#command-value-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

/* Command value table controls */
/* #command-value-table {
    table-layout: fixed;
    width: 100%;
}

#command-value-table td {
    width: auto;
} */

#command-value-controls-view {
    display: none;
    padding-top: 10px;
}