/* Custom CSS */

.help-section {
    display: none;
    float: left;
    position: absolute;
    /* left: 20px;
    top: 20px; */
    bottom: 1em;
    left: 1em;

    background-color: lightgoldenrodyellow;
	padding: .7em .7em;
	font-size: 1em;
	border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.center-items-horizontally {
    display: flex;
    justify-content: center;
}

.overflow-auto {
    overflow: auto;
}

.command-value-control-row {
    align-items: center;
    display: flex;
    margin: 0px 10px;
}

#command-value-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

/* Command value table controls */
/* #command-value-table {
    table-layout: fixed;
    width: 100%;
}

#command-value-table td {
    width: auto;
} */

#command-value-controls-view {
    display: none;
    padding-top: 10px;
}